@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Luan Victor</p>

<address>
    <strong>More information: </strong> <a href="https://github.com/luaan2012">github/luaan2012</a>
</address>